

header {
  .center;
  background-color: rgb(80, 192, 192);
  padding: 30px 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  @media @8 {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  h1 {
    font-size: 6rem;
    font-family: 'Pacifico', cursive;
    color: white;

    @media @7 {
      font-size: 5.5rem;
    }
    @media @6 {
      font-size: 5rem;
    }
    @media @5 {
      width: 80%;
      text-align: center;
    }
  }
}

.intro {
  margin: 30px 0 0;
  .flexcol;
  
  @media @5 {
    margin: 25px 5% 0;
  }

  ol {
    display: flex;
    flex-flow: column;
    max-width: 400px;
    width: 90%;
    margin: 15px 0 0; 
    list-style-type: decimal;
    
    @media @5 {
      margin-left: 5%;
    }

    li {
      font-size: 2rem;
      line-height: 2;

    }
  }
}

form {
  max-width: 600px;
  margin: 20px auto;
  width: 90%;
  .center;
  flex-wrap: wrap;

  .name {
    .center;
    width: 100%;

    label {
      font-size: 2rem;
    }

    input {
      width: 100%;
      font-size: 2rem;
    }
  }
  .choices {
    .wide-center;
    .center;
    justify-content: space-around;
    @media @6 {
      .flexcol;
    }

    .history {
      margin-top: 20px;
      @media @6 {
        margin-top: 40px;
      }
      .flexcol;
      p {
        font-size: 2.5rem;
      }
      select {
        margin-top: 25px;
        font-size: 2rem;
        font-family: @main-font;
      }
    }
    .preference {
      margin-top: 20px;
      @media @6 {
        margin-top: 40px;
      }
      .flexcol;
      p {
        font-size: 2.5rem;
      }
      select {
        margin-top: 25px;
        font-size: 2rem;
        font-family: @main-font;
      }
    }
  }

  button {
    margin-top: 100px;
    .custom-btns;
  }
  
}

footer {
  .center;

  img {
    position: fixed;
    bottom: 0;
    left: auto;
    right: auto;
    max-width: 50px;
    padding-bottom: 20px;
    @media @6 {
      display: none;
    }
  }
}

#total {
  font-size: 40rem;
}