.t() {
  border: 1px solid red;
}

.center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexcol() {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wide-center() {
	width: 100%;
	margin: 0 auto;
}